body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h5 {
    color: #A6C0DE;
}

h1 {
    font-size: 45px;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 1 1 auto;
}

nav a {
    display: block;
    font-size: 20px;
    padding: 10px;
    padding-right: 48px;
    text-decoration: none;
    color: #F7D52B;
}

nav ul {
    list-style-type: none;
    background-color: #062726;
    text-align: center;
}

header {
    padding-top: 12px;
    text-align: center;
    background-color: #654730;
}

.persona h2 {
    font-size: 25px;
    max-width: 200px;
    background-color: #654730;
    padding: 15px;
    text-align: center;
}

.persona p {
    margin-top: -10px;
}

h3, h4 {
    font-size: 22px;
}

.scenario h5 {
    margin-bottom: -5px;
    margin-top: 50px;
    font-size: 25px;
    max-width: 200px;
    background-color: #654730;
    padding: 15px;
    text-align: center;
}

.scenario {
    padding-bottom: 25px;
}

.scenario li {
    font-size: 18px;
    margin: 10px;
}

p {
    font-size: 18px;
}

footer {
    padding: 15px;
    min-height: 50px;
    text-align: center;
    background-color: #654730;
    color: #A6C0DE;
}