/* Bountiful Foods base css */

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}



h1 {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 40px;
}

.header-imgs {
    display: flex;
}

.header-imgs img {
    flex: 1 1 auto;
    max-width: 50px;
    margin: 0 auto;
}

nav {
    display: flex;
    text-align: center;
}

nav a {
    flex: 1 1 auto;
    margin: 10px;
}

.cali-content {
    text-align: center;
}

.fresh-action {
    text-align: center;
}