@media only screen and (min-width: 56em) {
    
    /* Home main large css */

    h1 {
        font-size: 65px;
    }

    .header-imgs img {
        max-width: 64px;
        max-height: 64px;
    }

    .orchard, .fruit-drinks, .mango {
        max-width: 432px;
    }

    .orchard {
        max-height: 282px;
    }

    .orchard-para {
        font-size: 20px;
    }

    .fruit-drinks {
        max-height: 292px;
    }

    .mango {
        max-height: 370px;
    }

    .cali-weather {
        width: 800px;
        justify-self: center;
    }

    .home-main button {
        font-size: 27px;
        height: 150px;
    }

    .fresh-call p {
        font-size: 20px;
    }

    .drink-para {
        font-size: 20px;
    }

    .cali-weather p, .cali-weather span {
        font-size: 20px;
    }


    /* Fresh main grid css */

    .fresh-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .apple img {
        display: inline;
        max-width: 300px;
        max-height: 200px;
        border: 5px solid #d56062;
    }

    .fruit-party img {
        max-width: 310px;
        max-height: 210px;
    }

    .apple {
        grid-column: 3/4;
        margin: auto 0 auto 0;
    }

    .fruit-party {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto 0 auto 0;
    }

    .fresh-intro {
        grid-column: 2/3;
    }

    #info-card-message {
        grid-column: 1/4;
    }

    #drink-form {
        grid-column: 1/4;
    }

    .drink-btn {
        font-size: 30px;
    }

    .info-card-here {
        grid-column: 1/4;
    }


    /* contact page main css */

    .contact-main {
        display: flex;
    }

    .contact-main div {
        flex: 1 1 auto;
    }

    .contact {
        margin: 20px
    }

    iframe {
        max-width: 400px;
    }

    .about {
        border-bottom: none;
        padding-right: 20px;
        border-right: 5px solid #4b3b47;
        margin: 20px 0 20px 20px;
        max-width: 500px;
    }

    .about img {
        max-width: 390px;
        max-height: 275px;
    }

    .about p {
        margin: 0;
        font-size: 18px;
    }



    /* footer styles */

    .footer-content ul li {
        font-size: 22px;
        margin: 10px;
    }

    footer p {
        font-size: 18px;
    }
}