body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: fit-content;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h3, h4, h5 {
    font-size: 1.5em;
    background-color: royalblue;
    margin: 10px;
    line-height: 35px;
}

p {
    margin: 10px;
    line-height: 25px;
}

a {
    margin-top: 9px;
    margin-bottom: 9px;
}

header {
    text-align: center;
    background-color: burlywood;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    background-color: burlywood;
}

section {
    border-style: solid;
    border-width: 5px;
    border-color: royalblue;
    border-radius: 10px;
}

.grid-item1 {
    background-color: darkturquoise;
    margin: 10px;
}

.grid-item2 {
    background-color: darkturquoise;
    margin: 10px;
}

.grid-item3 {
    background-color: darkturquoise;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    background-color: burlywood;
    min-height: 60px;
}