body {
    max-width: 800px;
    margin:0 auto;
}

h1, h2 {
    text-align: center;
}

img {
    align-content: center;
    justify-content: center;
    max-width: 200px;
    max-height: 500px;
}

header {
    flex: 2;
    align-content: center;
    justify-content: center;
    background-color: cornflowerblue;
}

nav ul li {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

footer {
    text-align: center;
    background-color: cornflowerblue;
}