body {
    margin:0 auto;
    color: whitesmoke;
}

h1, h2 {
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 340px;
}

header {
    flex: 2;
    justify-content: center;
    background-color: cornflowerblue;
}

nav ul li {
    margin-bottom: 5px;
    margin-top: 5px;
}

footer {
    text-align: center;
    background-color: cornflowerblue;
}