body {
    max-width: 800px;
    margin:0 auto;
}

h1, h2 {
    text-align: center;
}

h1 {
    flex: auto;
    margin: 8px;
    padding-top: 8px;
}

img {
    flex: auto;
    align-content: center;
    justify-content: center;
    max-width: 200px;
    max-height: 500px;
    margin: 8px;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: cornflowerblue;
}

nav ul li {
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: large;
}

footer {
    min-height: 50px;
    text-justify: center;
    text-align: center;
    background-color: cornflowerblue;
}