body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Source Serif Pro', serif;
}

header img {
    max-height: 80px;
    margin: 5px;
    margin-right: 10px;
}

header {
    background-color: #654730;
}

h1 {
    font-size: 20px;
    text-align: left;
    color: #A6C0DE;
}

.top-bar {
    display: flex;
    align-items: center;
}

.top-bar > * {
    flex: 1 1 auto;
}

.social-links img {
    padding-top: 0;
    margin: 5px;
    max-width: 45px;
}


nav ul {
    background-color: #062726;
    list-style-type: none;
    padding: 0;
}

nav button {
    font-size: 30px;
    background-color: #062726;
    color: #F7D52B;
    border: none;
}

.burger-date {
    display: grid;
    grid-template-columns: 12% 88%;
}

.burger-date p {
    align-self: center;
    justify-self: left;
    margin-left: 10px;
    color: #c0cedd;
}

.fix-date {
    display: grid;
    grid-template-columns: 50% 50%;
}

.test.fix-date p {
    align-self: center;
    margin-left: 5px;
    color: #c0cedd;
    font-size: .8em;
}

#hamburger {
    display: block;
}

#menu li {
    display: none;
}

#menu li:first-child {
    display: block;
}

#menu li {
    flex: 1 1 auto;
}

ul#menu.open {
    display: block;
}

ul#menu.open li {
    display: block;
}

.open li a {
    display: block;
    text-decoration: none;
    color: #F7D52B;
    padding: 10px;
}

main div {
    background-color: #eee;
    padding: 30px;
    margin: 10px;
}

.spotlights {
    padding: 0;
    display: flex;
}

.spotlights div {
    padding: 30px;
    background-color: gray;
    flex: 1 1 auto;
}

footer {
    background-color: #654730;
}

footer p, footer li {
    color: #c0cedd;
}

footer p {
    text-align: center;
}

footer a {
    background-color: #062726;
    color: #F7D52B;
    text-decoration: none;
}

.bottom-bar {
    display: flex;
    align-items: center;
}

.bottom-bar > * {
    flex: 1 1 auto;
}

.bottom-bar img {
    max-width: 100px;
    margin: 5px;
}

.bottom-bar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.new span:nth-child(1) {display: none;}
#hamburger.new span:nth-child(2) {display: block;}